.news {
    &__item {
        display: flex;
        margin:2rem 0rem;
        @include df-box;
        &__image {
            flex: 0 0 20%;
            margin-right: 2rem;
            overflow: hidden;
            img {
                height: 150px;
                width: auto;
            }
        }
    }
}